body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lato', sans-serif;
}

.Rectangle1{
    top: 0px;
    left: 0px;
    /* width: 1366px; */
    height: 704px;
    background-color: #181831;
    opacity: 1;
}

.Group207{
    position: absolute; /*Position relative to parent div*/
    top: 41px;
    left: 131px;
    width: 182px;
    height: 61px;
    opacity: 1;
}

.Menubar{
    top: 60;
    left: 596px;
    width: 456px;
    height: 22px;
    /* background: transparent url('img/Home About Us Services Pricing Contact Us.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    color: #FFFFFF;
    position: absolute;
    word-spacing: 20px;
    font-weight: 300;
}

.Menubar a{
    color: #fff;
    text-decoration: none;
}



.activeMenu, .Menubar a:hover{
    padding-bottom: 5px;
    font-weight: 900;
    border-bottom: 1px solid #4DAEFA;
}

.loginButton{
    top: 52px;
    left: 1120px;
    width: 165px;
    height: 38px;
    /* UI Properties */
    opacity: 1;
    position:absolute;
}

.grid{
    position: absolute;
    top: 251px;
    left: 50px;
    width: 107px;
    height: 91px;
    background: transparent url('img/Repeat Grid 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.heading{
    position: absolute;
    top: 223px;
    left: 124px;
    width: 377px;
    height: 207px;
    opacity: 1;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: bold;
}